@font-face{
	font-family: editorial_new;
	src:  url(EditorialNew-Ultralight.otf);
}
@font-face{
	font-family: editorial_new_thin;
	src: url(EditorialNew-Thin.otf);
}
@font-face{
	font-family: editorial_new_italic;
	src: url(PPEditorialNew-UltralightItalic.otf);
}

h1{
	font-family: editorial_new_thin;
	font-size: 30pt;
}
body{
/*	background-color:#f8f9f9;*/
/*	background-color: #ffffe6;*/
background-color: white;
}

input[type=submit]{
	border: solid 1px;
	border-radius: 5px;
	margin: 3px;
	height: 30px;
	background: white;
	font-family: editorial_new;
	font-size: 14pt;
	text-align: center;
	top: 50%;
}

input[type="text"]{
	border: none;
	border-bottom: 1px solid;
	background-color: white;
	width: 550px;
	height: 30px;
	font-family: editorial_new_italic;
	font-size: 12pt;
}