
@font-face{
  font-family: Kozuka;
  src: url(Kozuka_Mincho.otf);
}

div{
  font-family: Kozuka;
}

:root{
  --cover-width: 250px;
}

#shadow {
  content: "";
  position: absolute;
  background-color: rgba(181, 231, 113,0.8);
  width: var(--cover-width);
  height: 500px;
  transform: skewX(10deg);
  transform-origin: top center;
  -webkit-filter: blur(5px);
  left:  42%;
  top: 500px;
  z-index: -1;
}

#result{
  font-size:25pt;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  margin-top: 80px;
  /*position: absolute;*/
  z-index: 1;
}

#text_container{
  position: absolute;
  left:  42%;
  top: 50px;
  background-color: yellow;
  width: 250px;
  height: 450px;
  text-align: center;
  line-height: 1.5;
  display: flex;
  /*align-items: center;*/
}
#photo{
  display: inline-block;
  width: 180px;

  height: auto;
  position: absolute;
}

#time{
  font-size: 40pt;
  color: blue;
  position: absolute;
  right: 10%;
  z-index: 4;
}
#container_title{
  margin-left: 20px;
  position: absolute;
  bottom: 20px;
  z-index: -1;
}
#musicneversleeps{
  font-size: 70pt;
  line-height: 1.1;

}
#info{
  font-size: 15pt;
  margin-top: 10px;
  line-height: 20pt;
}
#bela_fleck{
  display: none;
}

#vl {
  border-left: 3px solid blue;
  height: 10px;
  position: absolute;
  right: 6%;
  margin-left: -3px;
  top: 0;
}

#detail{
  position: absolute;
  top: 20px;
  font-size: 11pt;
  margin-left: 20px;
  margin-top: 20px;
  dispaly: inline-block;
  width: 260px;
  line-height: 1.3;
}

.fa{
  position: absolute;
  display: inline-block;
  top: 300px;
  left: 100px;

}