
@font-face{
  font-family: Kozuka;
  src: url(Kozuka_Mincho.otf);
}

@font-face{
  font-family: Eiko;
  src: url(PPEiko-LightItalic.otf);
  font-feature-settings: "onum"; 
}
@font-face{
  font-family: Eiko_thin;
  src: url(PPEiko-Thin.otf);
}

@font-face{
  font-family: Eiko_medium;
  src: url(PPEiko-Medium.otf);
}


div{
  font-family: Eiko_thin;
}

:root{
  --cover-width: 250px;
}



#shadow {
  content: "";
  position: absolute;
/*  background-color: rgba(181, 231, 113,0.8);*/
  background-color: rgba(192,192,192,0.5);
  opacity: 0.5;
    width: 100px;
/*  width: var(--cover-width);*/
  height: 100vh;
  transform: skewX(10deg);
  transform-origin: top center;
  -webkit-filter: blur(9px);
  left:  44%;
  top: 0px;
  z-index: 0;
}

#result{
  font-size: 40pt;
   line-height: 1.5;
   left:30%;
  position: absolute;
  top: 400px;
  z-index: -1;
    /*transform: rotate(-90deg);
    transform-origin: top center;*/
}

/*#text_container{
  line-height: 1.5;
   margin-left: 20px;
  position: absolute;
  bottom: 20px;
  z-index: -1;
  /*align-items: center;*/
}*/
#photo{
  display: inline-block;
  width: 180px;

  height: auto;
  position: absolute;
}

#time{
  font-size: 40pt;
  color: black;
  position: absolute;
  right: 15%;
  z-index: 4;
}
#container_title{
  right: 20px;
  bottom: 20px;
  position: absolute;
  z-index: -1;
}
#musicneversleeps{
  font-size: 13pt;

}
#info{
  font-size: 12pt;
}
#bela_fleck{
  display: none;
}

#benjamin_beilman{
  display: none;
}
#timo_andres{
  display: none;
}
#sarah_jarosz{
  display: none;
}
#rieko_aizawa{
  display: none;
}
#emi_ferguson{
  display: none;
}
#adele_anthony{
  display: none;
}
#bridget_kibbey{
  display: none;
}
#inon_barnatan{
  display: none;
}
#bela_fleck{
  display: none;
}
#brooklyn_rider{
  display: none;
}
#tiffany_poon{
  display: none;
}
#abigel_kralik{
  display: none;
}

#vl {
  border-left: 1px solid black;
  height: 10px;
  position: absolute;
  left: 89%;
  margin-left: -3px;
  top: 0;
}
.hl {
  position: absolute;
  border: 1px solid black;
  width: 140px;
  right: 20px;
  top: 5px;
 
}
.crop{
  width: 220px;
  height: 220px;
  overflow: hidden;
   position: absolute;
  left: 43%;
  top: 270px;
}
.crop img{
  width: 300px;
 
}
#detail{
  position: absolute;
  top:15px;
  font-size: 15pt;
  margin-left: 20px;
  margin-top:0px;
  dispaly: inline-block;
  width: 300px;
  line-height: 1.2;
}
#about{
  position: absolute;
  margin-left: 20px;
}
.fa{
  position: absolute;
  display: inline-block;
  top: 300px;
  left: 100px;

}

#list{
  font-size: 7pt;
  line-height: 1;
}
#am12-2{
  display: none;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: grey;
  max-width: 130px;
  margin-top: 6px;
}

#am2-4{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: grey;
  margin-top: 6px;
}
#am4-6{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: grey;
  margin-top: 6px;
}
#am6-8{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#am8-10{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#am10-12{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm12-2{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm2-4{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm4-6{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm6-8{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#pm8-10{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#pm10-12{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

.list_wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 90%;
  right: 15px;
  bottom: 0;
}

#player-size {
  /* comment below line for responsive 16:9 full screen */
  width:900px;
  /* only need to specify width since 16:9 ratio is  
     preserved / automatically applied */
}

#cropping-div {
  overflow: hidden;
}

#div-to-crop {
  overflow: hidden;
  margin-top: -34%;
  margin-bottom: -35%;
}

#player-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 120.25%;
  padding-left: 65%;

}
.overlay{
  mix-blend-mode: difference;
}
#player {
  position: absolute;
  top: 0;
  width:100%;
  height: 100%;
  
}