
@font-face{
  font-family: Kozuka;
  src: url(Kozuka_Mincho.otf);
}

div{
  font-family: Kozuka;
}

:root{
  --cover-width: 250px;
}

#shadow {
  content: "";
  position: absolute;
  background-color: rgba(181, 231, 113,0.9);
  width: var(--cover-width);
  height: 500px;
  transform: skewX(10deg);
  transform-origin: top center;
  -webkit-filter: blur(9px);
  left:  42%;
  top: 500px;
  z-index: -1;
}

#result{
  font-size:25pt;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  margin-top: 80px;
  /*position: absolute;*/
  z-index: 1;
}

#text_container{
  position: absolute;
  left:  42%;
  top: 50px;
  background-color: yellow;
  width: 250px;
  height: 450px;
  text-align: center;
  line-height: 1.5;
  display: flex;
  /*align-items: center;*/
}
#photo{
  display: inline-block;
  width: 180px;

  height: auto;
  position: absolute;
}

#time{
  font-size: 40pt;
  color: blue;
  position: absolute;
  right: 15%;
  z-index: 4;
}
#container_title{
  margin-left: 20px;
  position: absolute;
  bottom: 20px;
  z-index: -1;
}
#musicneversleeps{
  font-size: 70pt;
  line-height: 1.1;

}
#info{
  font-size: 15pt;
  margin-top: 10px;
  line-height: 20pt;
}
#bela_fleck{
  display: none;
}
#alessio_bax{
  display:  none;
}
#benjamin_beilman{
  display: none;
}
#timo_andres{
  display: none;
}
#sarah_jarosz{
  display: none;
}
#rieko_aizawa{
  display: none;
}
#emi_ferguson{
  display: none;
}
#adele_anthony{
  display: none;
}
#bridget_kibbey{
  display: none;
}
#inon_barnatan{
  display: none;
}
#bela_fleck{
  display: none;
}
#brooklyn_rider{
  display: none;
}
#tiffany_poon{
  display: none;
}
#abigel_kralik{
  display: none;
}

#vl {
  border-left: 1px solid blue;
  height: 10px;
  position: absolute;
  left: 89%;
  margin-left: -3px;
  top: 0;
}
.hl {
  position: absolute;
  border: 1px solid black;
  width: 140px;
  right: 20px;
  top: 5px;
 
}

#detail{
  position: absolute;
  top: 20px;
  font-size: 11pt;
  margin-left: 20px;
  margin-top: 20px;
  dispaly: inline-block;
  width: 260px;
  line-height: 1.2;
}

.fa{
  position: absolute;
  display: inline-block;
  top: 300px;
  left: 100px;

}

#list{
  font-size: 7pt;
  line-height: 1;
}
#am12-2{
  display: none;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: grey;
  max-width: 130px;
  margin-top: 6px;
}

#am2-4{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: grey;
  margin-top: 6px;
}
#am4-6{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: grey;
  margin-top: 6px;
}
#am6-8{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#am8-10{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#am10-12{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm12-2{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm2-4{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm4-6{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

#pm6-8{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#pm8-10{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}
#pm10-12{
  display: none;
  max-width: 130px;
  position: absolute;
  left:  90%;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  margin-top: 0px;
}

.list_wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 90%;
  right: 15px;
  bottom: 0;
}